h4{
    display: flex;
    justify-content: center;
    padding-top:10px;
}
.doSave{
    font-size: 50%;
}

.errors{
    font-size: 50%;
    color: red;
}
.showPassword{
    font-size: 50%;
}
.password{
    display: flex;
    flex-direction: row;
}
