.feed{
    grid-area: content;
    border: solid 1px darkgray;
    margin-top:10px;
}
.feedMessage {
    grid-area: feed-message;
    padding: 10px 0 5px 10px;
}
.icon{
    padding-left: 10px;
}
.input {
    width: 80%;
    display: inline;
    margin: 10px 30px 10px 5px;
}

.button {
    margin-bottom: 3px;
}
